{% extends 'base.html' %}
{% load static tailwind_tags %}
{% block content %}
	<body class="w-full">

        <section class=" flex flex-row align-middle text-center h-[300px] bg-black" id="home">
            <div class=" w-full align-middle mb-4 mt-20 text-center">
                <div class="left-0 " >
                    <div class="">
                    <h1 class="font-semibold text-3xl font-poppins bg-clip-text text-transparent bg-gradient-to-l from-green-200 via-teal-800 to-purple-500">
                        Revolutionizing Healthcare with AI-Powered Insights.
                    </h1>
                    <h2 class="text-white font-oswald font-bold font-italic text-xl">
                        "Empowering doctors, patients, and researchers to make smarter health decisions faster."
                    </h2>

                </div>

                <div class="relative  m-2">
                   <button class=" p-2 border  rounded font-bold bg-clip-text text-transparent bg-gradient-to-l from-indigo-600 to-fuchsia-500 hover:border hover:border-purple-700 hover:bg-yellow-700 hover:text-white">
                        Learn More.
                   </button>
                </div>
                </div>
            </div>        
        </section>
                
            
            <div>
                

                <div class="">
                    <button class="p-2 mx-[196px] w-40 my-8 border shadow-md rounded bg-white font-bold bg-clip-text text-transparent bg-gradient-to-l from-indigo-600 to-fuchsia-500 hover:shadow-md hover:shadow-green-400 hover:bg-green-400">
                        <a href="{% url 'checkup' %}">Try It Now</a>
                    </button>
                </div>
            </div>
            
    {% endblock %}






