{% extends 'base.html' %}
{% load static tailwind_tags %}
{% block content %}
	<body class="w-full">

        <section class="mt-20  flex flex-row align-middle text-center" id="home">
            <div class=" w-full align-middle text-center">
                <div class="left-0 h-[300px] bg-blur bg-stretch" style="background-image: url('{% static 'img/images.jpeg' %}')">
                    <div class="">
                    <h1 class="font-semibold text-3xl font-poppins bg-clip-text text-transparent bg-gradient-to-l from-green-200 via-teal-800 to-purple-500">
                        Revolutionizing Healthcare with AI-Powered Insights.
                    </h1>
                    <h2 class="text-white font-oswald font-bold font-italic text-xl">
                        "Empowering doctors, patients, and researchers to make smarter health decisions faster."
                    </h2>

                </div>
                
                <div class="relative m-2">
                   <button class=" p-2 border  rounded font-bold bg-clip-text text-transparent bg-gradient-to-l from-indigo-600 to-fuchsia-500">
                        Learn More.
                   </button>
                </div>
                </div>
            
            <div>
                

                <div class="mt-20 ">
                    <button class="p-2 border rounded font-bold bg-clip-text text-transparent bg-gradient-to-l from-indigo-600 to-fuchsia-500">
                        <a href="{% url 'checkup' %}">Try It Now</a>
                    </button>
                </div>
            </div>
            </div>        
        </section>
    {% endblock %}






