{% extends "base.html" %}
{% load form_tags %}
{% block content %}
    <section class="max-w-md mb-4 mx-auto mt-10 p-6 rounded-lg shadow-md shadow-purple-300" id="Login">
    <h2 class="text-3xl font-bold mb-6">Login</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}

        {% for field in form %}
            <div class="mb-4">
                <label for="{{ field.id_for_label }}" class="block text-lg font-medium text-gray-700">{{ field.label }}</label>
                {{ field|add_class:"mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"| add_placeholder:field.label }}
            </div>
            {% for error in field.errors %}
                <p class="text-red-500 text-sm">{{ error }}</p>
            {% endfor %}    
        {% endfor %}
        <button type="submit" class="w-40 block py-2 mt-4 mb-4 bg-blue-500 text-white rounded hover:bg-blue-700 text-center top-0.5 left-0.5 mx-auto justify-center items-center">Login</button>
    </form>
    <p class="text-base inline">Don't have an account?</p>
    <a class="ml-2 underline font-semibold text-xl" href="{% url 'register' %}">Register here</a>
    <a href="{% url 'password_reset' %}" class="block text-blue-600 underline">Forgot password?</a>
    </section>
{% endblock %}
