{% extends 'index.html' %}
{% load static tailwind_tags %}
{% tailwind_css %}
{% load form_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body class="bg-slate-50">
    {% block content %}
        <section class="max-w-md mx-auto mt-10 p-6 bg-white rounded-lg shadow-md">
        <h2 class="text-2xl font-bold mb-6">Register</h2>
        <form action="{% url 'register' %}" method="post">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <div>
                <label for="username" class="block text-sm font-medium text-gray-700">Username</label>
                {{ form.username|add_placeholder:"Enter your username"|add_class:"mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" }}
            </div>
            <div>
                <label for="email" class="block text-sm font-medium text-gray-700">Email</label>
                {{ form.email|add_placeholder:"Enter your email"|add_class:"mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" }}
            </div>
            <div>
                <label for="first_name" class="block text-sm font-medium text-gray-700">First name</label>
                {{ form.first_name|add_placeholder:"Enter your first name"|add_class:"mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" }}
            </div>
            <div>
                <label for="last_name" class="block text-sm font-medium text-gray-700">Last name</label>
                {{ form.last_name|add_placeholder:"Enter your last name"|add_class:"mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" }}
            </div>
            <div>
                <label for="contact" class="block text-sm font-medium text-gray-700">Contact</label>
                {{ form.contact|add_placeholder:"Enter your contact number"|add_class:"mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" }}
            </div>
            <div>
                <label for="age" class="block text-sm font-medium text-gray-700">Age</label>
                {{ form.age|add_placeholder:"Enter your age"|add_class:"mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" }}
            </div>
            <div>
                <label for="password" class="block text-sm font-medium text-gray-700">Password</label>
                {{ form.password|add_placeholder:"Enter your password"|add_class:"mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" }}
            </div>
            <div>
                <label for="confirm_password" class="block text-sm font-medium text-gray-700">Confirm password</label>
                {{ form.confirm_password|add_placeholder:"Confirm your password"|add_class:"mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" }}
            </div>
            <button type="submit" class="w-full py-2 px-4 bg-blue-500 text-white rounded-lg hover:bg-blue-700">Register</button>
        </form>
        </section>
    {% endblock %}
</body>
</html>