{% extends "base.html" %}
{% include "index.html" %}
{% load form_tags %}
{% block content %}
<h2>Register</h2>
<form action="{% url 'wewandiise' %}" method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}


    {% for field in form  %}
        <div class="mb-4 mt-8">
        <label for="{{ field.id_for_label }}" class="block text-sm font-medium bg-clip-text text-transparent bg-gradient-to-l from-red-500 to-purple-600">{{ field.label }}</label>
        {{ field|add_class:"mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"|add_placeholder:field.label}}
        {% if field.errors %}
            <p class="text-red-500 text-sm">{{ field.errors.0 }}</p>
        {% endif %}
        </div>
    {% endfor %}
    <button type="submit" class="btn btn-primary">Register</button>
</form>
<p>Already have an account? <span><a href="{% url 'login' %}" class="btn btn-primary">Login</a></span></p>
{% endblock %}


<li>
                        {% if user.is_authenticated %}
                        <a href="{% url 'logout' %}" class="nav-link hover:text-amber-500 bg-black text-white px-4 py-2 rounded">Logout</a>
                        {% else %}
                            <a href="{% url 'register' %}" class="nav-link hover:text-amber-500 ">Register</a>
                        {% endif %}
                    </li>